<!DOCTYPE html>
<html>
  <head>
    <title>fail</title>
    <%- include head %>
  </head>
  <body>
    <div class="list">
      <h1><%-message%></h1>
      <a href="/<%-address%>" style="font-size: large;">返回上一页</a>
    </div>
  </body>
</html>
